{% extends "base.html" %}
{% block head %}
{% endblock %}

{% block content %}
<div class="container">
    <form action="#" method="post">
        <table style="margin-left:auto;margin-right:auto;">
            <tr>
                <td align='right'><label>Latitude:</label></td>
                <td align='left'><input type="number" class="form-control" name="latitude" id="latitude" value="39.8" min="25" max="53" step="0.1"></td>
                <td align='right'><label>Longitude:</label></td>
                <td align='left'><input type="number" class="form-control" name="longitude" id="longitude" value="-98.6" min="-130" max="-60" step="0.1"></td>
            </tr>
            <tr>
                <td align='right'><label>Default Zoom:</label></td>
                <td align='left'><input type="number" class="form-control" name="zoom_start" id="zoom_start" value="4" min="0" max="18" step="1"></td>
            </tr>
            <tr>
                <td colspan="4" align='center'>
                    <label>Foreground Plot:</label>  
                    <select id="foreground-plot">
                        <option value = "none">None</option>
                        <option value = "target-data">Measured Arsenic in Wells (Target Data)</option>
                    </select>  
                </td>
            </tr>
            <tr><td colspan="4" align='center'>
                <button type="submit" class="btn btn-primary" value="submit">Submit</button>
            </td></tr>
        </table>
    </form>  
</div>

<div class="container">
    <h2>Generated Map</h2>
        <div id="vis">
            {{ chart | safe }}
        </div>
</div>
{% endblock %}
